PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/vms
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:5173
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880

# SMTP / Nodemailer Email Setup
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-google-app-password
SMTP_FROM=your-email@gmail.com
